* {
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 5px black;
}

.menu {
    background-color: rgb(200, 200, 200);
    padding: 1em 0em 1em 0em;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 5em;
    padding-left: 5em;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-list li {
    margin-right: 1em;
    margin-left: 1em;
}

.section-1 {
    background-color: rgb(155, 155, 155);
    background: linear-gradient(rgb(255, 0, 0), rgb(100, 0, 0));
    padding: 1em 0em 25em 0em;
}

.texto-inicial {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 100px 650px 0px 50px;
    padding: 10px;
    text-align: justify;
}

.imagem-joao {
    height: 720px;
    width: 720px;
    float: right;
    margin-right: 10em;
    margin-top: -16em;
}

.button-1 {
    background-color: transparent;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    margin: 1em 0em 0em 19em;
    border-radius: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.section-2 {
    background-color: rgb(255, 255, 255);
    padding: 1em 1em 15em 1em;
}

.section-2-main {
    display: flex;
}

.titulo-section-2 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img-section-2 {
    border: 1px rgb(0, 0, 0) solid;
    width: 750px;
    height: 500px;
    display: flex;
}

.texto-section-2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5em 10em 0em 50em;
    padding: 1em 1em 25em 1em;
}

.section-3 {
    background-color: rgb(97, 90, 90);
    padding: 1em 0em 25em 0em;
}

.title-section-3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.section-3-content {
    display: flex;
    text-align: center;
    margin: 2em 2em 2em 2em;
    justify-content: center;
    padding-bottom: 30em;
}

.section-3-text {
    width: 20em;
}

footer {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}