* {
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 5px black;
}

.menu {
    background-color: rgb(200, 200, 200);
    padding: 1em 0em 1em 0em;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 5em;
    padding-left: 5em;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.menu-list li {
    margin-right: 1em;
    margin-left: 1em;
}

/* SEÇÃO 1*/

.section-1 {
    background-color: rgb(155, 155, 155);
    background: linear-gradient(rgb(255, 0, 0), rgb(100, 0, 0));
    padding: 1em 0em 25em 0em;
}

.texto-inicial {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 100px 650px 0px 50px;
    padding: 10px;
    text-align: justify;
}

.imagem-joao {
    height: 720px;
    width: 720px;
    float: right;
    margin-right: 5em;
    margin-top: -16em;
}

.button-1 {
    background-color: transparent;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    margin: 1em 0em 0em 19em;
    border-radius: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* SEÇÃO 2*/

.section-2 {
    background-color: rgb(255, 255, 255);
    padding: 1em 1em 1em 1em;
}

.titulo-section-2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 1em;
}

.section-div-1 {
    display: flex;
    justify-content: center;
}

hr {
    border-color: black;
    border-width: 1px;
    margin: 1em 20em 1em 20em;
}

.img-div-1 {
    width: 96px;
    height: 96px;
    margin: 1em;
}

.p-div-1 {
    padding: 1em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em 20em 1em 20em;
    text-align: center;
    font-weight: bold;
}

/* SEÇÃO 3*/

.section-3 {
    background-color: rgb(100, 100, 100);
    padding: 1em 0em 1em 0em;
}

.title-section-3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.section-3-content {
    display: flex;
    text-align: center;
    margin: 2em 2em 2em 2em;
    justify-content: center;
    padding: 1em 1em 30em 1em;
}

.section-3-content img {
    width: 256px;
    height: 256px;
}

.section-3-text {
    width: 45em;
    color: white;
    font-size: 24px;
    padding: 1em;
}

/* CABEÇALHO 3*/

footer {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}